<!-- begin header -->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <a href="#" class="logo">
                    {{mixins.icon('logo')}}
                </a>
            </div>
            <div class="header__nav">
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="#" class="nav__link is-active">Stories</a>
                        </li>
                        <li>
                            <a href="#" class="nav__link">Events</a>
                        </li>
                        <li>
                            <a href="#" class="nav__link">Places</a>
                        </li>
                        <li>
                            <a href="#" class="nav__link">Boards</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- end header -->