<!-- begin hero -->
<section class="hero">

        <div class="hero__inner">
            <div class="hero__slider">
                <!-- start hero slider -->
                <div class="slider js-slider">
                    <div class="slider__slide">
                        <div class="slider__image"><img src="img/hero.jpg" alt=""></div>
                        <div class="slider__info">
                            <div class="slider__note note">Your</div>
                            <div class="slider__title">
                                <h2 class="title title_main">Beautiful Escape</h2>
                            </div>
                            <div class="slider__descr">One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.</div>
                        </div>
                    </div>                    
                    <div class="slider__slide">
                        <div class="slider__image"><img src="img/hero.jpg" alt=""></div>
                        <div class="slider__info">
                            <div class="slider__note note">Your</div>
                            <div class="slider__title">
                                <h2 class="title title_main">Not Beautiful Escape</h2>
                            </div>
                            <div class="slider__descr">One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.</div>
                        </div>
                    </div>                    
                    <div class="slider__slide">
                        <div class="slider__image"><img src="img/hero.jpg" alt=""></div>
                        <div class="slider__info">
                            <div class="slider__note note">Your</div>
                            <div class="slider__title">
                                <h2 class="title title_main">So Beautiful Escape</h2>
                            </div>
                            <div class="slider__descr">One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.</div>
                        </div>
                    </div>                    
                </div>
                <!-- end hero slider -->
            </div>
        </div>

</section>
<!-- end hero -->