<!-- begin shop-thumbs -->
<section class="shop-thumbs">
    <div class="container">
        <div class="shop-thumbs__inner">
            <div class="shop-thumbs__note note">Shop</div>
            <div class="shop-thumbs__title">
                <h2 class="title title_default">Surfboards</h2>
            </div>
            <div class="shop-thumbs__wrapper">
                <!-- begin s-item -->
                <div class="s-item">
                    <a href="#" class="s-item__image">
                        <span class="s-item__bg"></span>
                        <img src="img/board1.png" alt="Surfboard">
                    </a>
                    <div class="s-item__descr">
                        <div class="s-item__category">Funboards</div>
                        <div class="s-item__name">Chilli Rare Bird</div>
                        <div class="s-item__sale">
                            <div class="cost">$890</div>
                            <a href="#" class="buy-link">Buy</a>
                        </div>
                    </div>
                </div>
                <!-- end s-item -->
                <!-- begin s-item -->
                <div class="s-item">
                    <a href="#" class="s-item__image">
                        <span class="s-item__bg"></span>
                        <img src="img/board2.png" alt="Surfboard">
                    </a>
                    <div class="s-item__descr">
                        <div class="s-item__category">Surfboards</div>
                        <div class="s-item__name">Emery NEM XF</div>
                        <div class="s-item__sale">
                            <div class="cost">$950</div>
                            <a href="#" class="buy-link">Buy</a>
                        </div>
                    </div>
                </div>
                <!-- end s-item -->
                <!-- begin s-item -->
                <div class="s-item">
                    <a href="#" class="s-item__image">
                        <span class="s-item__bg"></span>
                        <img src="img/board3.png" alt="Surfboard">
                    </a>
                    <div class="s-item__descr">
                        <div class="s-item__category">Funboards</div>
                        <div class="s-item__name">Agency GROM</div>
                        <div class="s-item__sale">
                            <div class="cost">$670</div>
                            <a href="#" class="buy-link">Buy</a>
                        </div>
                    </div>
                </div>
                <!-- end s-item -->
            </div>
            <a href="#" class="shop-thumbs__link">Show all</a>
        </div>
    </div>
</section>
<!-- end shop-thumbs -->